{
  "name": "onos",
  "node": {
{% for host in groups['onos'] %}
{% if inventory_hostname == hostvars[host]['inventory_hostname'] %}
    "id": "{{ hostvars[host]['inventory_hostname'] }}",
    "ip": "{{ hostvars[host]['ansible_ssh_host'] }}",
    "port": 9876
{% endif %}
{% endfor %}
  },
  "storage": [
{% for host in groups['atomix'] %}
    {
      "id": "{{ hostvars[host]['inventory_hostname'] }}",
      "host": "{{ hostvars[host]['ansible_ssh_host'] }}",
      "port": 5679
    }{% if not loop.last %},
{% endif %}
{% endfor %}
  ]
}