cluster {
  cluster-id: onos
  node {
{% for host in groups['atomix'] %}
{%if inventory_hostname == hostvars[host]['inventory_hostname'] %}
    id: {{ hostvars[host]['inventory_hostname'] }}
    address: "{{ hostvars[host]['ansible_ssh_host'] }}:5679"
{% endif %}
{% endfor %}
  }
  discovery {
    type: bootstrap
{% set count = 1 %}
{% for host in groups['atomix'] %}
    nodes.{{count}} {
      id: {{ hostvars[host]['inventory_hostname'] }}
      address: "{{ hostvars[host]['ansible_ssh_host'] }}:5679"      
    }
{% set count = count + 1 %}
{% endfor %}
  }
}
 
management-group {
  type: raft
  partitions: 1
  storage.level: disk
  members: [{% for host in groups['atomix'] %}{{ hostvars[host]['inventory_hostname'] }}{% if not loop.last %},{% endif %}{% endfor %}]
}
 
partition-groups.raft {
  type: raft
  partitions: 3
  storage.level: disk
  members: [{% for host in groups['atomix'] %}{{ hostvars[host]['inventory_hostname'] }}{% if not loop.last %},{% endif %}{% endfor %}]
}